.divFather {
  border: 1px solid #5f6368;
  border-radius: 8px;
  opacity: 1;
  width: fit;
  height: auto;
  background-color: #202124;
}

.div {
  padding: 0px 0px 15px 15px;
}

.title {
}

.body {
}

.inputNote {
  width: auto;
  display: block;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;

  color: hsla(0, 0%, 100%, 0.87);
  background-color: #202124;

  font-size: 1.6em;
  font-weight: 600;
  font-family: Roboto, system, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, Arial, sans-serif;
}

.areaNote {
  resize: none;
  line-height: 1.5;
  min-height: 5em;
  max-height: 50vh;
  width: 100%;

  display: block;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;

  color: hsla(0, 0%, 100%, 0.87);
  background-color: #202124;

  font-family: Roboto, system, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, Arial, sans-serif;
}

.buttonSend {
  background-color: forestgreen;
  color: white;

  width: 36px;
  height: 36px;
  font-size: 26px;
  text-align: center;

  position: absolute;
  left: 55px;

  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.buttonDelete {
  background-color: red;
  color: white;

  width: 36px;
  height: 36px;
  font-size: 14px;
  text-align: center;

  position: absolute;
  right: 34px;
  top: 8px;

  border: none;
  border-radius: 50%;

  cursor: pointer;
}
